In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import IPython.display

### Cheat sheet

In [8]:
IPython.display.IFrame("https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf" ,width="800", height="600")

### Series

#### Creating series from array

In [12]:

ser = pd.Series()
print("Pandas Series: ", ser)

# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])
	
ser = pd.Series(data)
print("Pandas Series:\n", ser)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [56]:
ser.index , ser.values   # index -- row labels (default) or row labels index

(RangeIndex(start=0, stop=5, step=1),
 array(['g', 'e', 'e', 'k', 's'], dtype=object))

#### Create series from dic

In [55]:

zip_codes ={"100":"中正區","103":"大同區","104":"中山區","105":"松山區","106":"大安區","108":"萬華區","110":"信義區","111":"士林區","112":"北投區","114":"內湖區","115":"南港區","116":"文山區" } 
code = pd.Series(zip_codes)
code

100    中正區
103    大同區
104    中山區
105    松山區
106    大安區
108    萬華區
110    信義區
111    士林區
112    北投區
114    內湖區
115    南港區
116    文山區
dtype: object

In [15]:
code.index , code.values

(Index(['100', '103', '104', '105', '106', '108', '110', '111', '112', '114',
        '115', '116'],
       dtype='object'),
 array(['中正區', '大同區', '中山區', '松山區', '大安區', '萬華區', '信義區', '士林區', '北投區',
        '內湖區', '南港區', '文山區'], dtype=object))

In [16]:
code[2] , code['104'] , code[2] == code['104'] # acess via label or index

('中山區', '中山區', True)

In [17]:
code[2:8] , code[7]

(104    中山區
 105    松山區
 106    大安區
 108    萬華區
 110    信義區
 111    士林區
 dtype: object,
 '士林區')

In [18]:
code.head(-1) , code.head(2)

(100    中正區
 103    大同區
 104    中山區
 105    松山區
 106    大安區
 108    萬華區
 110    信義區
 111    士林區
 112    北投區
 114    內湖區
 115    南港區
 dtype: object,
 100    中正區
 103    大同區
 dtype: object)

#### Series operation

In [19]:
index = {"peko" , "miko" , "godtone" , "kuuga"}
data_s1 = pd.Series( [1,0.2,"r",1138918238] , index)
data_s2 = pd.Series( [1234,0.2,3.240201,21.12459] , index)

data_s1+ data_s1  , "------------",data_s2-data_s2 ,"---------------" , data_s2 *data_s2

(godtone             2
 peko              0.4
 kuuga              rr
 miko       2277836476
 dtype: object,
 '------------',
 godtone    0.0
 peko       0.0
 kuuga      0.0
 miko       0.0
 dtype: float64,
 '---------------',
 godtone    1.522756e+06
 peko       4.000000e-02
 kuuga      1.049890e+01
 miko       4.462483e+02
 dtype: float64)

One can refer to https://www.geeksforgeeks.org/python-pandas-series/?ref=lbp for more operations

#### Misc property

In [20]:
#change to list
data_s1.tolist()

[1, 0.2, 'r', 1138918238]

In [21]:
#data is mutable
data_s1["peko"]=1
data_s1["peko"]

1

### Data frame

In [22]:
# Calling DataFrame constructor
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [43]:
# DataFrame from dict narray / lists
# initialise data of lists.
data_dict ={'name':["peko", "miko", "suiesei", "godtone"],
        'age': [110, 35, 4, 50],
        'weight':[90, 40, 80, 87]}
# Create DataFrame
df = pd.DataFrame(data_dict)
# Print the output.
df
# index--row labels , key--column labels , values -- talbe element

      name  age  weight
0     peko  110      90
1     miko   35      40
2  suiesei    4      80
3  godtone   50      87

In [54]:
df.keys()  , df.index

(Index(['name', 'age', 'weight'], dtype='object'),
 RangeIndex(start=0, stop=4, step=1))

In [25]:
pd.Series(data_dict)

name      [peko, miko, suiesei, godtone]
age                     [110, 35, 4, 50]
weight                  [90, 40, 80, 87]
dtype: object

In [26]:
print( "its data type is" , type(df['name']))
df['name']

its data type is <class 'pandas.core.series.Series'>

0       peko
1       miko
2    suiesei
3    godtone
Name: name, dtype: object

In [51]:
df[['weight','name']] #this is a (sub)dataframe

   weight     name
0      90     peko
1      40     miko
2      80  suiesei
3      87  godtone

In [47]:
df.describe()

          age     weight
count    4.00   4.000000
mean    49.75  74.250000
std     44.50  23.214579
min      4.00  40.000000
25%     27.25  70.000000
50%     42.50  83.500000
75%     65.00  87.750000
max    110.00  90.000000

In [48]:
df["age"].describe()

count      4.00
mean      49.75
std       44.50
min        4.00
25%       27.25
50%       42.50
75%       65.00
max      110.00
Name: age, dtype: float64

### CSV example

In [2]:
# making data frame
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
 #  set index_col ="Name " or other keys (columns) to set the indices to values of that key (column)  

# calling head() method
# storing in new variable
data_top = data.head()
data_end = data.tail()
# display
data_top

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [72]:
data_end

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
data.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

### Acess row elements (.loc , .iloc)

#### loc
Acess via column key names

In [ ]:
help(pd.DataFrame.loc)

In [93]:

data.loc[0 , "Name" ] , "-----" , data.loc[0 , ["Name" , "College"]]  , "-----", data.loc[0]
#acess a row elements or the row

('Avery Bradley',
 '-----',
 Name       Avery Bradley
 College            Texas
 Name: 0, dtype: object,
 '-----',
 Name         Avery Bradley
 Team        Boston Celtics
 Number                 0.0
 Position                PG
 Age                   25.0
 Height                 6-2
 Weight               180.0
 College              Texas
 Salary           7730337.0
 Name: 0, dtype: object)

In [9]:
#array of all players' ages
data.loc[:,'Age'].values

array([25., 25., 27., 22., 29., 29., 21., 25., 22., 22., 24., 27., 27.,
       20., 26., 27., 24., 28., 21., 32., 22., 26., 23., 28., 21., 26.,
       25., 26., 28., 27., 30., 33., 23., 32., 34., 25., 24., 23., 28.,
       26., 20., 26., 28., 32., 25., 23., 37., 25., 25., 22., 22., 22.,
       32., 24., 24., 22., 20., 27., 22., 25., 20., 23., 20., 29., 26.,
       29., 24., 30., 23., 27., 23., 25., 36., 29., 24., 24., 33., 24.,
       31., 25., 28., 26., 26., 32., 30., 20., 23., 30., 28., 26., 33.,
       27., 29., 36., 23., 29., 27., 28., 27., 29., 31., 38., 39., 31.,
       23., 25., 31., 24., 23., 37., 24., 29., 33., 25., 23., 21., 20.,
       27., 29., 36., 31., 26., 19., 28., 33., 21., 25., 24., 22., 27.,
       25., 32., 30., 31., 22., 23., 25., 27., 30., 36., 27., 22., 28.,
       25., 25., 24., 29., 27., 23., 24., 30., 25., 31., 26., 35., 23.,
       35., 30., 27., 24., 25., 27., 31., 21., 27., 24., 25., 33., 24.,
       31., 35., 35., 35., 31., 27., 25., 29., 25., 30., 25., 33., 33.,
       29., 36., 25., 25., 23., 23., 22., 23., 23., 26., 20., 28., 26.,
       31., 27., 24., 30., 26., 30., 28., 25., 28., 29., 29., 22., 30.,
       20., 25., 23., 21., 27., 24., 25., 21., 25., 21., 28., 24., 26.,
       32., 23., 21., 27., 29., 19., 22., 31., 28., 31., 33., 33., 29.,
       28., 29., 37., 32., 27., 24., 31., 31., 30., 27., 27., 30., 22.,
       22., 27., 26., 22., 30., 24., 23., 25., 30., 38., 21., 34., 37.,
       36., 39., 28., 23., 29., 31., 25., 23., 22., 24., 24., 34., 25.,
       28., 28., 28., 28., 29., 26., 27., 29., 23., 23., 30., 25., 26.,
       25., 29., 27., 25., 25., 27., 31., 28., 30., 22., 36., 34., 40.,
       38., 28., 24., 27., 33., 40., 27., 34., 26., 35., 26., 24., 35.,
       30., 31., 35., 31., 24., 24., 22., 27., 32., 31., 24., 27., 27.,
       24., 27., 30., 21., 28., 31., 23., 22., 24., 30., 27., 26., 29.,
       23., 32., 31., 30., 30., 36., 34., 24., 29., 22., 33., 34., 23.,
       26., 20., 30., 26., 23., 20., 21., 29., 26., 23., 24., 26., 24.,
       22., 30., 25., 32., 33., 22., 30., 24., 34., 32., 27., 33., 26.,
       20., 23., 30., 30., 29., 25., 28., 28., 25., 29., 26., 27., 21.,
       21., 24., 36., 20., 34., 21., 23., 23., 28., 26., 40., 20., 21.,
       23., 25., 30., 36., 25., 29., 25., 20., 21., 22., 35., 27., 32.,
       24., 26., 24., 24., 38., 30., 21., 24., 28., 24., 27., 20., 25.,
       23., 24., 27., 23., 28., 34., 24., 25., 24., 23., 26., 30., 20.,
       28., 23., 24., 20., 24., 23., 26., 23., 28., 26., 20., 26., 24.,
       26., 26., nan])

#### iloc
Acess via column index.

In [4]:
data.iloc[0 , 0] , "-----" , data.iloc[0 , [0 , 1,2]]  , "-----", data.iloc[0]

('Avery Bradley',
 '-----',
 Name       Avery Bradley
 Team      Boston Celtics
 Number               0.0
 Name: 0, dtype: object,
 '-----',
 Name         Avery Bradley
 Team        Boston Celtics
 Number                 0.0
 Position                PG
 Age                   25.0
 Height                 6-2
 Weight               180.0
 College              Texas
 Salary           7730337.0
 Name: 0, dtype: object)

In [6]:
#array of all players' ages
data.iloc[:,4].values

array([25., 25., 27., 22., 29., 29., 21., 25., 22., 22., 24., 27., 27.,
       20., 26., 27., 24., 28., 21., 32., 22., 26., 23., 28., 21., 26.,
       25., 26., 28., 27., 30., 33., 23., 32., 34., 25., 24., 23., 28.,
       26., 20., 26., 28., 32., 25., 23., 37., 25., 25., 22., 22., 22.,
       32., 24., 24., 22., 20., 27., 22., 25., 20., 23., 20., 29., 26.,
       29., 24., 30., 23., 27., 23., 25., 36., 29., 24., 24., 33., 24.,
       31., 25., 28., 26., 26., 32., 30., 20., 23., 30., 28., 26., 33.,
       27., 29., 36., 23., 29., 27., 28., 27., 29., 31., 38., 39., 31.,
       23., 25., 31., 24., 23., 37., 24., 29., 33., 25., 23., 21., 20.,
       27., 29., 36., 31., 26., 19., 28., 33., 21., 25., 24., 22., 27.,
       25., 32., 30., 31., 22., 23., 25., 27., 30., 36., 27., 22., 28.,
       25., 25., 24., 29., 27., 23., 24., 30., 25., 31., 26., 35., 23.,
       35., 30., 27., 24., 25., 27., 31., 21., 27., 24., 25., 33., 24.,
       31., 35., 35., 35., 31., 27., 25., 29., 25., 30., 25., 33., 33.,
       29., 36., 25., 25., 23., 23., 22., 23., 23., 26., 20., 28., 26.,
       31., 27., 24., 30., 26., 30., 28., 25., 28., 29., 29., 22., 30.,
       20., 25., 23., 21., 27., 24., 25., 21., 25., 21., 28., 24., 26.,
       32., 23., 21., 27., 29., 19., 22., 31., 28., 31., 33., 33., 29.,
       28., 29., 37., 32., 27., 24., 31., 31., 30., 27., 27., 30., 22.,
       22., 27., 26., 22., 30., 24., 23., 25., 30., 38., 21., 34., 37.,
       36., 39., 28., 23., 29., 31., 25., 23., 22., 24., 24., 34., 25.,
       28., 28., 28., 28., 29., 26., 27., 29., 23., 23., 30., 25., 26.,
       25., 29., 27., 25., 25., 27., 31., 28., 30., 22., 36., 34., 40.,
       38., 28., 24., 27., 33., 40., 27., 34., 26., 35., 26., 24., 35.,
       30., 31., 35., 31., 24., 24., 22., 27., 32., 31., 24., 27., 27.,
       24., 27., 30., 21., 28., 31., 23., 22., 24., 30., 27., 26., 29.,
       23., 32., 31., 30., 30., 36., 34., 24., 29., 22., 33., 34., 23.,
       26., 20., 30., 26., 23., 20., 21., 29., 26., 23., 24., 26., 24.,
       22., 30., 25., 32., 33., 22., 30., 24., 34., 32., 27., 33., 26.,
       20., 23., 30., 30., 29., 25., 28., 28., 25., 29., 26., 27., 21.,
       21., 24., 36., 20., 34., 21., 23., 23., 28., 26., 40., 20., 21.,
       23., 25., 30., 36., 25., 29., 25., 20., 21., 22., 35., 27., 32.,
       24., 26., 24., 24., 38., 30., 21., 24., 28., 24., 27., 20., 25.,
       23., 24., 27., 23., 28., 34., 24., 25., 24., 23., 26., 30., 20.,
       28., 23., 24., 20., 24., 23., 26., 23., 28., 26., 20., 26., 24.,
       26., 26., nan])