In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import IPython.display

### Cheat sheet

In [8]:
IPython.display.IFrame("https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf" ,width="800", height="600")

### Series

#### Creating series from array

In [12]:

ser = pd.Series()
print("Pandas Series: ", ser)

# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])
	
ser = pd.Series(data)
print("Pandas Series:\n", ser)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [56]:
ser.index , ser.values   # index -- row labels (default) or row labels index

(RangeIndex(start=0, stop=5, step=1),
 array(['g', 'e', 'e', 'k', 's'], dtype=object))

#### Create series from dic

In [55]:

zip_codes ={"100":"中正區","103":"大同區","104":"中山區","105":"松山區","106":"大安區","108":"萬華區","110":"信義區","111":"士林區","112":"北投區","114":"內湖區","115":"南港區","116":"文山區" } 
code = pd.Series(zip_codes)
code

100    中正區
103    大同區
104    中山區
105    松山區
106    大安區
108    萬華區
110    信義區
111    士林區
112    北投區
114    內湖區
115    南港區
116    文山區
dtype: object

In [15]:
code.index , code.values

(Index(['100', '103', '104', '105', '106', '108', '110', '111', '112', '114',
        '115', '116'],
       dtype='object'),
 array(['中正區', '大同區', '中山區', '松山區', '大安區', '萬華區', '信義區', '士林區', '北投區',
        '內湖區', '南港區', '文山區'], dtype=object))

In [16]:
code[2] , code['104'] , code[2] == code['104'] # acess via label or index

('中山區', '中山區', True)

In [17]:
code[2:8] , code[7]

(104    中山區
 105    松山區
 106    大安區
 108    萬華區
 110    信義區
 111    士林區
 dtype: object,
 '士林區')

In [18]:
code.head(-1) , code.head(2)

(100    中正區
 103    大同區
 104    中山區
 105    松山區
 106    大安區
 108    萬華區
 110    信義區
 111    士林區
 112    北投區
 114    內湖區
 115    南港區
 dtype: object,
 100    中正區
 103    大同區
 dtype: object)

#### Series operation

In [19]:
index = {"peko" , "miko" , "godtone" , "kuuga"}
data_s1 = pd.Series( [1,0.2,"r",1138918238] , index)
data_s2 = pd.Series( [1234,0.2,3.240201,21.12459] , index)

data_s1+ data_s1  , "------------",data_s2-data_s2 ,"---------------" , data_s2 *data_s2

(godtone             2
 peko              0.4
 kuuga              rr
 miko       2277836476
 dtype: object,
 '------------',
 godtone    0.0
 peko       0.0
 kuuga      0.0
 miko       0.0
 dtype: float64,
 '---------------',
 godtone    1.522756e+06
 peko       4.000000e-02
 kuuga      1.049890e+01
 miko       4.462483e+02
 dtype: float64)

One can refer to https://www.geeksforgeeks.org/python-pandas-series/?ref=lbp for more operations

#### Misc property

In [20]:
#change to list
data_s1.tolist()

[1, 0.2, 'r', 1138918238]

In [21]:
#data is mutable
data_s1["peko"]=1
data_s1["peko"]

1

### Data frame

In [22]:
# Calling DataFrame constructor
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [43]:
# DataFrame from dict narray / lists
# initialise data of lists.
data_dict ={'name':["peko", "miko", "suiesei", "godtone"],
        'age': [110, 35, 4, 50],
        'weight':[90, 40, 80, 87]}
# Create DataFrame
df = pd.DataFrame(data_dict)
# Print the output.
df
# index--row labels , key--column labels , values -- talbe element

      name  age  weight
0     peko  110      90
1     miko   35      40
2  suiesei    4      80
3  godtone   50      87

In [54]:
df.keys()  , df.index

(Index(['name', 'age', 'weight'], dtype='object'),
 RangeIndex(start=0, stop=4, step=1))

In [25]:
pd.Series(data_dict)

name      [peko, miko, suiesei, godtone]
age                     [110, 35, 4, 50]
weight                  [90, 40, 80, 87]
dtype: object

In [26]:
print( "its data type is" , type(df['name']))
df['name']

its data type is <class 'pandas.core.series.Series'>

0       peko
1       miko
2    suiesei
3    godtone
Name: name, dtype: object

In [51]:
df[['weight','name']] #this is a (sub)dataframe

   weight     name
0      90     peko
1      40     miko
2      80  suiesei
3      87  godtone

In [47]:
df.describe()

          age     weight
count    4.00   4.000000
mean    49.75  74.250000
std     44.50  23.214579
min      4.00  40.000000
25%     27.25  70.000000
50%     42.50  83.500000
75%     65.00  87.750000
max    110.00  90.000000

In [48]:
df["age"].describe()

count      4.00
mean      49.75
std       44.50
min        4.00
25%       27.25
50%       42.50
75%       65.00
max      110.00
Name: age, dtype: float64

### CSV example

In [71]:
# making data frame
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
 #  set index_col ="Name " or other keys (columns) to set the indices to values of that key (column)  

# calling head() method
# storing in new variable
data_top = data.head()
data_end = data.tail()
# display
data_top

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [72]:
data_end

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
data.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

### Acess row elements (.loc , .iloc)

#### loc

In [3]:
help(pd.DataFrame.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - An alignable boolean Series. The index of the key will be aligned before
      masking.
    - An alignable Index. The Index of the returned selection will be the input.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`.

    Raises
    ------
    KeyError
        If any items are not found.
    IndexingError
        If an indexed key is passed and its index is unalignable to the frame index.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Alignable boolean Series:

    >>> df.loc[pd.Series([False, True, False],
    ...        index=['viper', 'sidewinder', 'cobra'])]
                max_speed  shield
    sidewinder          7       8

    Index (same behavior as ``df.reindex``)

    >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
           max_speed  shield
    foo
    cobra          1       2
    viper          4       5

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

    Please see the :ref:`user guide<advanced.advanced_hierarchical>`
    for more details and explanations of advanced indexing.

In [93]:

data.loc[0 , "Name" ] , "-----" , data.loc[0 , ["Name" , "College"]]  , "-----", data.loc[0]
#acess a row elements or the row

('Avery Bradley',
 '-----',
 Name       Avery Bradley
 College            Texas
 Name: 0, dtype: object,
 '-----',
 Name         Avery Bradley
 Team        Boston Celtics
 Number                 0.0
 Position                PG
 Age                   25.0
 Height                 6-2
 Weight               180.0
 College              Texas
 Salary           7730337.0
 Name: 0, dtype: object)

# 待補